BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "pin_led" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "pin_led" SITE "25" ;
IOBUF PORT "en_245" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "en_245" SITE "30" ;
