BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "_devsel" PULLMODE=KEEPER IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_mosi" SITE "49" ;
LOCATE COMP "spi_clk" SITE "31" ;
LOCATE COMP "spi_cs" SITE "27" ;
PROHIBIT SITE "48" ;
LOCATE COMP "spi_miso" SITE "32" ;
IOBUF PORT "fclk" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_iosel" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_iostrobe" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_reset" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[8]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[9]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[10]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "addr[11]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "q3" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "rddata" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "rw" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "sense" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_en245" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_enbl1" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_enbl2" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "_wrreq" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "debugInfo[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "phase[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "phase[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "phase[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "phase[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "wrdata" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "spi_cs" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "data[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "data[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
PROHIBIT SITE "61" ;
IOBUF PORT "_en35" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "select" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
## IOBUF ALLPORTS ;
LOCATE COMP "_enbl2" SITE "99" ;
LOCATE COMP "_en35" SITE "98" ;
LOCATE COMP "_wrreq" SITE "88" ;
LOCATE COMP "phase[3]" SITE "87" ;
LOCATE COMP "phase[2]" SITE "86" ;
LOCATE COMP "phase[1]" SITE "85" ;
LOCATE COMP "phase[0]" SITE "84" ;
LOCATE COMP "wrdata" SITE "83" ;
LOCATE COMP "_enbl1" SITE "82" ;
LOCATE COMP "select" SITE "78" ;
LOCATE COMP "rddata" SITE "96" ;
LOCATE COMP "sense" SITE "97" ;
LOCATE COMP "_reset" SITE "75" ;
LOCATE COMP "_iostrobe" SITE "74" ;
LOCATE COMP "fclk" SITE "63" ;
LOCATE COMP "rw" SITE "71" ;
LOCATE COMP "q3" SITE "70" ;
LOCATE COMP "addr[11]" SITE "69" ;
LOCATE COMP "addr[10]" SITE "68" ;
LOCATE COMP "addr[9]" SITE "67" ;
LOCATE COMP "addr[8]" SITE "66" ;
LOCATE COMP "addr[7]" SITE "65" ;
LOCATE COMP "addr[6]" SITE "64" ;
LOCATE COMP "addr[5]" SITE "62" ;
LOCATE COMP "addr[4]" SITE "60" ;
LOCATE COMP "addr[3]" SITE "59" ;
LOCATE COMP "addr[2]" SITE "58" ;
LOCATE COMP "addr[1]" SITE "57" ;
LOCATE COMP "addr[0]" SITE "54" ;
LOCATE COMP "_iosel" SITE "53" ;
LOCATE COMP "data[7]" SITE "52" ;
LOCATE COMP "data[6]" SITE "51" ;
LOCATE COMP "data[5]" SITE "47" ;
LOCATE COMP "data[4]" SITE "39" ;
LOCATE COMP "data[0]" SITE "35" ;
LOCATE COMP "data[1]" SITE "36" ;
LOCATE COMP "data[2]" SITE "37" ;
LOCATE COMP "data[3]" SITE "38" ;
LOCATE COMP "_devsel" SITE "34" ;
LOCATE COMP "_en245" SITE "30" ;
LOCATE COMP "debugInfo[0]" SITE "12" ;
LOCATE COMP "debugInfo[1]" SITE "13" ;
LOCATE COMP "debugInfo[2]" SITE "14" ;
LOCATE COMP "debugInfo[3]" SITE "15" ;
LOCATE COMP "debugInfo[4]" SITE "16" ;
LOCATE COMP "debugInfo[5]" SITE "17" ;
LOCATE COMP "debugInfo[6]" SITE "24" ;
LOCATE COMP "debugInfo[7]" SITE "25" ;
